<div class="page-header">
  <h3>Payment Information #<%= @payment_information.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @payment_information.user_id %></dd>

      <dt>Name on card</dt>
      <dd><%= @payment_information.name_on_card %></dd>

      <dt>Issuing bank</dt>
      <dd><%= @payment_information.issuing_bank %></dd>

      <dt>Creditdebit card number</dt>
      <dd><%= @payment_information.creditdebit_card_number %></dd>

      <dt>Type of card</dt>
      <dd><%= @payment_information.type_of_card %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/payment_informations" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @payment_information.user %>
        <a href="/payment_informations/<%= @payment_information.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_payment_information/<%= @payment_information.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Payment information has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @payment_information.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        
      </li>
    </ul>
  </div>
</div>
